{% extends '::base.html.twig' %}

{% block body -%}
    <h2>Rum</h2>
     {% for entity in entities %}
    <ul class="entity-list">
        <li><a href="{{ path('room_show', { 'id': entity.id }) }}">{{ entity.name }}</a> <a href="{{ path('room_show', { 'id': entity.id }) }}">Visa</a> <a href="{{ path('room_edit', { 'id': entity.id }) }}">Ändra</a> <a href="{{ path('room_delete', { 'id': entity.id }) }}">Ta bort</a></li>
    </ul>
    {% endfor %}       
    <p><a href="{{ path('room_new') }}">
        Lägg till rum
    </a></p>   
{% endblock %}
